* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #2a2a2a;
	width: 100%;
	height: 100vh;
}

.logo {
	z-index: 5;
	display: flex;
	align-items: center;
}

.logo img {
	width: 45px;
	height: 45px;
	margin-right: 5px;
}

.nav {
	z-index: 10;
	position: fixed;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fafafa;
	padding: 1.5rem 7rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.navigation {
	z-index: 11;
}

.nav .logo h2 {
	font-size: 1.8rem;
	font-weight: bold;
	color: #2a2a2a;
}

.nav .navigation ul {
	z-index: 12;
	display: flex;
	flex-direction: row;
}

.nav .navigation ul li {
	z-index: 13;
	list-style: none;
	padding: 0 1rem;
}

.nav .navigation ul li a {
	z-index: 14;
	text-decoration: none;
	font-size: 0.9rem;
	letter-spacing: 1px;
	font-weight: 600;
	color: #2a2a2a;
	transition: 0.3s ease;
}

.nav .navigation ul li a span {
	z-index: 15;
	background-color: #fe3f40;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	padding: 10px 20px;
	border-radius: 23px;
	letter-spacing: 0.25px;
}

.frontPic {
	z-index: -1;
	overflow: hidden;
}

.text {
	font-family: "Libre Baskerville";
	z-index: 0;
	position: absolute;
	top: 250px;
	left: 25px;
	width: 45%;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.477);
	padding: 20px;
	line-height: 30px;
	border-radius: 10px;
}

.footer {
	display: flex;
	color: white;
	align-items: center;
}

.logo-container {
	display: flex;
	align-items: center;
}

.nav .navigation ul li a:hover {
	color: #fe2f40;
  }

.footer img {
	margin-left: 10px;
	width: 45px;
	height: 45px;
	margin-right: 5px;
}

.logo-container span {
	margin-left: 5px;
}

.centered-content {
	flex-grow: 1;
	text-align: center;
}
